<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">

        @* Limit views based on auth *@
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <p>You must be logged in to access this page.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
        
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
